.stage-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.35);
  backdrop-filter: blur(6px);
  z-index: 999;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stage-map {
  position: relative;
  width: 100%;
  max-width: 1100px;
  aspect-ratio: 16 / 9;
  background-image: url("../../assets/images/allmaps.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.back-btn {
  margin-top: 40px;
  padding: 12px 36px;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}
